@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
  --costco-blue: #0060a9;
  --costco-red: #e32a36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-exit {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* .fade-enter-active {
  opacity: 1;
  transform: translateX(0);
} */

.fade-enter {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* .fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
} */
