<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786330080407-0dob8g3i8jvrhbo4cu1sq716ggquqnlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786330080407-0dob8g3i8jvrhbo4cu1sq716ggquqnlg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>786330080407-os89jf4k6s761eo16u9ga9drjgq7fu0v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3QzQx3gmPsnutzrNoSusJE74AxsodDdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786330080407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rariradev.cococom</string>
	<key>PROJECT_ID</key>
	<string>cococom-e0af9</string>
	<key>STORAGE_BUCKET</key>
	<string>cococom-e0af9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786330080407:ios:fcd5f46ec9275b511045d2</string>
</dict>
</plist>